#sobre {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.8rem;
}

#sobre div {
    width: 100%;
}

#sobre img {
    width: 80%;
}

#div-left-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    text-align: center;
}

#div-right-sobre {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px){ 
    #sobre {
        font-size: 1.3rem;
    }
}

@media (max-width: 992px){ 
    #div-right-sobre {
        display: none;
    }
}